[submodule "dopamine-vgdl"]
	path = dopamine-vgdl
	url = https://github.com/SergioArnaud/dopamine.git
[submodule "EfficientZero"]
	path = EfficientZero
	url = https://github.com/SergioArnaud/EfficientZero.git
[submodule "vgdl/pybrain-python3"]
	path = vgdl/pybrain
	url = https://github.com/SergioArnaud/pybrain-python3.git
